/* payment */
.payment {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.paymentTxt {
    margin-top: 2rem;
}

.text_yellow {
    color: #FFB800;
}

.paymentImg > img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    margin: 1.5rem;
}

.cancelBtn {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.cancel {
    width: 10rem;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    background-color: #d9d9d9;
    cursor: pointer;
}
