/* menu_bar */
.bar_option {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem 0;
}

/* menuWrap */
.menuWrap {
    margin: 1rem auto;
}

.menu_scroll {
    overflow-x: hidden;
    white-space: nowrap;
    margin-top: 1rem;
}

.menu {
    display: inline-block;
    width: 9.375rem;
    margin-left: 1rem;
}

.menu > img {
    width: 100%;
    height: 11.5rem;
    object-fit: cover;
}

.menu > div {
    text-align: center;
}

/* pageControl */
.pageControl {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.7rem;
}

.pageNum {
    margin: 0 9rem;
    font-size: 1.2rem;
    font-weight: 700;
}

/* bottomWrap */
.cartBtn, .orderBtn {
    width: 50%;
    height: 3.2rem;
    font-size: 1.45rem;
    font-weight: 700;
    border: none;
    color: white;
    cursor: pointer;
}

.cartBtn {
    background-color: #92AC47;
}

.orderBtn {
    background-color: #FFB800;
}

